<h3>New Member Form: </h3>
<div>
  <label>Name: </label>
  <input #newName>
</div>
<div>
  <label>Location: </label>
  <input #newLocation>
</div>
<div>
  <label>Rank: </label>
  <input #newRank>
</div>
<div>
  <label>Deck: </label>
  <input #newDeck>
</div>
<br>
<button (click)="submitForm(newName.value, newLocation.value, newRank.value, newDeck.value); newName.value=''; newLocation.value=''; newRank.value=''; newDeck.value='';">Add</button>
<hr><hr>
<div>
  <app-members></app-members>
</div>
<br><br><br><br><br>
